footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

/* Ensemble des boutons de la page */
.custom-button-footer {
    display: inline-block;
    position: relative;
    padding: 0.5% 2%;
    background-color: #3498db; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    text-decoration: none;
    border-radius: 50px; /* Coins arrondis */
}

/* Styles pour le texte par-dessus le bouton */
.button-text-footer {
    position: relative;
    z-index: 2; /* Placez le texte au-dessus du bouton */
    font-size: 3vw;
}

/* Effet au survol du bouton */
.custom-button-footer:hover {
    background-color: #2980b9; /* Nouvelle couleur de fond au survol */
}




#infoSection-footer {
    display: flex;
    justify-content: space-between;
}




/* Styles pour chaque div */
div[id="une_img_footer"] {
    width: 8%; /* Chaque div occupe 25% de la largeur du conteneur */
    margin: 5px;
}

div[id="une_img_footer"] a img {
    max-width: 100%; /* S'assurer que l'image ne dépasse pas la largeur de la div */
    height: auto; /* Ajuster automatiquement la hauteur en fonction de la largeur */
    display: block; /* Empêcher les marges blanches indésirables sous l'image */
    margin: 0 auto; /* Centrer l'image horizontalement dans la div */
    width: 50%;
}

div[id="une_img_footer"] a {
    height: auto; /* Ajuster automatiquement la hauteur en fonction de la largeur */
    display: block; /* Empêcher les marges blanches indésirables sous l'image */
}




/* Styles pour les écrans de petite taille (460px) et plus petits */
@media screen and (max-width: 460px) {

    .button-text-footer {
        position: relative;
        z-index: 2; /* Placez le texte au-dessus du bouton */
        font-size: 5vw;
    }

    div[id="une_img_footer"] a img {
        width: 80%;
    }

    div[id="une_img_footer"]{
        margin-right: 20px;
    }
}