/* Page entière */
body {
    margin: 0px;
    font-family: 'Lilita One';
    font-size: 22px;
    background-color: #DDDDDD;
    margin-bottom: 8%;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3.5vw;
}

.div_title {
    margin: 20px 0;
    text-align: center;
    justify-content: center; 
    box-sizing: border-box;
}

#infoSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.projet h2,
.projet .boutons,
.projet-reverse h2,
.projet-reverse .boutons-reverse{
    flex: 1; /* Les éléments prennent le reste de l'espace disponible */
    text-align: center;
}

.boutons button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 50px;
    width: 30%;
    font-size: 2vw;
    font-family: 'Lilita One';
}

.image_normal {
    max-width: 40%;
    margin-left: 5%;
}

.image_normal img {
    height: auto;
    border-radius: 5%;
}

.texte_normal {
    margin: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.texte_normal p {
    font-size: 2vw;
    color: #555;
}


#flex-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}







#infoSection-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
}


#flex-column-reverse {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texte_reverse {
    margin: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.texte_reverse p {
    font-size: 2vw;
    color: #555;
}

.boutons-reverse button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 50px;
    width: 30%;
    font-size: 2vw;
    font-family: 'Lilita One';
}

.image_reverse {
    max-width: 40%;
    margin-right: 5%;
}

.image_reverse img {
    height: auto;
    border-radius: 5%;
}






/* -- CSS pour les boutons de la page -- */

/* Ensemble des boutons de la page */
.custom-button {
    display: inline-block;
    position: relative;
    padding: 4% 2%;
    background-color: #3498db; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    text-decoration: none;
    border-radius: 50px; /* Coins arrondis */
    transition: background-color 0.3s ease;
}

/* Effet au survol du bouton */
.custom-button:hover {
    background-color: #2980b9; /* Nouvelle couleur de fond au survol */
}

/* Styles pour le texte par-dessus le bouton */
.button-text {
    position: relative;
    z-index: 2; /* Placez le texte au-dessus du bouton */
    font-size: 1vw;
}

/* -- Styles pour les écrans plus petits que 460 pixels -- */
@media screen and (max-width: 460px) {
    body{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #infoSection {
        display: block;
        margin-bottom: 0px;
    }

    .boutons button {
        margin-right: 0%;
        width: 30%;
        font-size: 5vw;
    }

    #flex-column {
        width: 100%;
    }

    h1 {
        font-size: 7.5vw;
    } 
    
    h2 {
        font-size: 5vw;
    }    

    .texte_normal p {
        font-size: 4.5vw;
        color: #555;
    }    

    .image_normal {
        max-width: 90%;
    }

    .texte_normal {
        margin: 0px;
        margin-right: 5%;
        margin-left: 5%;
    }

    /* Styles pour le texte par-dessus le bouton */
    .button-text {
        position: relative;
        z-index: 2; /* Placez le texte au-dessus du bouton */
        font-size: 6vw;
    }





    #infoSection-reverse {
        display: block;
        margin-bottom: 0px;
    }

    .boutons-reverse button {
        margin-right: 0%;
        width: 30%;
        font-size: 5vw;
    }

    #flex-column-reverse {
        width: 100%;
    }

    .texte_reverse p {
        font-size: 4.5vw;
        color: #555;
    }    

    .image_reverse {
        max-width: 90%;
        margin-left: 5%;
    }

    .texte_reverse {
        margin: 0px;
        margin-right: 5%;
        margin-left: 5%;
    }
}