/* Page entière */
body {
    margin: 0px;
    font-family: 'Lilita One';
    font-size: 22px;
    background-color: #DDDDDD;
    margin-bottom: 10%;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3.5vw;
}

.div_title {
    margin: 20px 0;
    text-align: center;
    justify-content: center; 
    box-sizing: border-box;
}

#infoSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.boutons button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.projet h2,
.projet .boutons {
    flex: 1; /* Les éléments prennent le reste de l'espace disponible */
    text-align: center;
}

.image_normal {
    width: 200px;
    margin-left: 15%;
    margin-right: 5%;
}

.image_normal img {
    max-width: 100%;
    height: auto;
}

.texte_normal {
    margin-right: 15%;
    margin-left: 5%;
}

.texte_normal p {
    color: #555;
}

.image_reverse {
    width: 200px;
    margin-right: 15%;
    margin-left: 5%;
}

.image_reverse img {
    max-width: 100%;
    height: auto;
}

.texte_reverse {
    margin-left: 30%;
}

.texte_reverse p {
    color: #555;
}



/* Styles pour les écrans plus petits que 460 pixels */
@media screen and (max-width: 460px) {

}